.form__part__guide {
    color: white;
}

.form_guide {
    color: white;
    width: 80%;
    margin: auto;
}

.form_guide>select,
.form_guide>input {
    margin: .2rem;
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.form__part__guide h1 {
    justify-content: center;
    display: flex;
    color: #DDCBCB;
    font-size: 3rem;
    font-family: 'Playfair Display';
}

.form_guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.guide_input {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
}

.form__radio {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    margin: 1rem;
}

.form__radio__item>label {
    margin-left: .2rem;
}

.form__radio__item {
    display: flex;
}

.guide_radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.g_button {
    background-color: #006360;
    color: #ffff;
    border-radius: 20px;
    justify-content: center !important;
    border: none;
    width: 15rem;
    height: 3rem;
    box-shadow: 4px 4px 12px #05182D, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 1300px) {}

@media (min-device-width: 20px) and (max-device-width: 500px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1100px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 600px) {
    .g_rightside {
        width: 100vw;
    }
    .guide_img {
        visibility: hidden;
    }
    .guide_main {
        flex-direction: column-reverse;
        height: 90vh;
    }
}

@media screen and (max-width: 400px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}

@media only screen and (device-width: 768px) {}