
  .vieew_details_item_button{
    backdrop-filter: blur(200px);
    background: hsla(0,0%,100%,.1);
    border: 0.1px solid #ffffff27;
    border-radius: 8px;
    color: #ffffffd7;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
    padding: 0.55rem 1.5rem;
  }

  .items__card_container{
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .button_container_item_card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }
  .purchase_item_button{
    backdrop-filter: blur(200px);
    background: hsla(0,0%,100%,.1);
    border: 0.1px solid #ffffff27;
    border-radius: 8px;
    color: #ffffffd7;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
    padding: 0.55rem 1.5rem;
    
  }
  .item__card__body{
    height: 18rem;
    width: 14rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background: rgba(254, 245, 245, 0.09) 10px;
    backdrop-filter: blur(39px);
    border: 3px solid ;
    /* linear-gradient(#009490,#FEFEFE); */
    border-image:   linear-gradient(to right,#009490,#FEFEFE)5; 
    gap: 1rem;
    color: aliceblue;
    
  }
  .item__card_img{
    width: 10rem;
    height: 10rem;
  }
  .item__btns{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
     
  }
  .item__view_btn{
   background-color: #006360;
   border: none;
   color: white;
   padding: 6px;
  }
  .item__purchase_btn{
  background-color: #006360;
  border: none;
  color: white;
  padding: 6px;
  }