.place__detail_page_container{
    display: flex;
    width: 100%;
    padding: 3rem;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.place__detail_page_container h1{
    color: #40edf7;
    font-size: 3rem;

}
.place__detail_page_container img{
    width: 10rem;
    height: 7rem;
}
.place__detail_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}
.place__detail_content p{
    display: flex;
    width: 50%;
    text-align: left;
}

.act__cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .act__card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .act__card .act__card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .act__card .act__card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .act__card .act__card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .act__card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .act__card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
 