.place__detail_page_container {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
}

.place__detail_page_container h1 {
    color: #40edf7;
    font-size: 3rem;
}

.place__image {
    width: 10rem;
    height: 7rem;
    pointer-events: none;
    border-radius: 1rem;
}

.place__detail_content {
    width: 80%;
    border-radius: 1rem;
    color: white;
    display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
    background: linear-gradient(104.98deg, #2A4E64 2.26%, #0C1E27 93.54%), linear-gradient(104.98deg, #27315A 2.26%, #000000 93.54%);
   
    

}

.image_place{
  background: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
    top: 0px;
    background-position: center;
}
.place__detail_page_container h1{
  position: absolute;
  color: rgb(250, 248, 248);
  font-size: 8rem;
  font-family: 'antonio';
  top: 30rem;
  left: 5rem;
  text-transform: capitalize;
  

   

}
.place__detail_page_container h2{
  color: rgb(250, 248, 248);
  font-size: 2rem;
  font-family: antonio;
  justify-content: center;
  align-items: center;

}
.place__detail_image{
  width: 10rem;
  height: 10rem;   
  margin-top: 0px; 
}

.place__detail_content{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid white;
}

.place__activites {
    margin-top: 1rem;

    /* margin-top: 2rem; */
    padding: 3rem;
    color: antiquewhite;
}

.festivals__section {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.festivals__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem;
}

.place__detail_content p {
    display: flex;
    width: 50%;
    text-align: left;
}

.act__cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.act__card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    font-family: var(--primary-font);
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.act__card .act__card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.act__card .act__card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.act__card .act__card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.act__card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.festival__card_body {
    display: flex;
    width: 13rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    align-items: center;
    color: #ffff;
    height: 15rem;
    background-color: #002B5B;
}

.festival__card_body img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.festival__card_body p {
    font-family: var(--primary-font);
}

@media all and (max-width: 500px) {

  }
  
.guide__main_body{
  display: flex;
  align-items: center;
  flex-direction: column;

}
  .guides__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
  
   
  }
.guide_display_image{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background: none;
  }
  /* .guide__card_main{
     background-color: #005b20;
  } */

  .guide__card_main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  @media all and (max-width: 500px) {

    .act__card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}