.place__detail_page_container{
    display: flex;
    width: 100%;
    padding: 3rem;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(104.98deg, #2A4E64 2.26%, #0C1E27 93.54%), linear-gradient(104.98deg, #27315A 2.26%, #000000 93.54%);
}
.place__detail_page_container h1{
    color: rgb(250, 248, 248);
    font-size: 8rem;
    font-family: antonio;
   

}
.place__detail_page_container h2{
  color: rgb(250, 248, 248);
  font-size: 2rem;
  font-family: antonio;

}
.place__detail_image{
  width: 10rem;
  height: 10rem;   
  margin-top: 0px; 
}

.place__detail_content{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* margin-top: 2rem; */
    padding: 3rem;
    color: antiquewhite;
}
.festivals__section{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.festivals__container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem;
}
.place__detail_content p{
    display: flex;
    width: 50%;
    text-align: left;
}

.act__cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .act__card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    font-family: var(--primary-font);
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .act__card .act__card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .act__card .act__card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .act__card .act__card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .act__card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  

  .festival__card_body{
    display: flex;
    width: 13rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    align-items: center;
    color: #ffff;
    height: 15rem;
    background-color: #002B5B;
  }

  .festival__card_body img{
    height: 150px;
    width: 100%;
    border-radius: 10px;
  }

  .festival__card_body p{
    font-family: var(--primary-font);
  }
  
.guide__main_body{
  display: flex;
  align-items: center;
  flex-direction: column;

}
  .guides__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
  
   
  }
.guide_display_image{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
  }
  /* .guide__card_main{
     background-color: #005b20;
  } */

  
  @media all and (max-width: 500px) {
    .act__card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
 