
.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 16rem));
      gap: 2rem;
      justify-content: center;
}
.ccard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card{
    overflow:hidden;
    box-shadow:0 2px 20px ;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer ;
    transition:ease-in;
    width: 50%;
    overflow:auto;
    background: linear-gradient(104.98deg,#3f85ad,#102530); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.card_image{
    height: 12rem;
    width:100%;
    object-fit: cover;
}
.card_title{
    padding: 1rem;
}
.card_description{
    padding: 0 1rem;
}
.card_button{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid seashell;
    background:cadetblue;
    color: seashell;
    border-radius:1rem ;
    transition: 200ms ease-in,color 200ms ease-in;
    width: 30%;
}
.card:hover{
    transform: scale(1.02);
}
.card_button:hover{
    background:seashell;
    color:burlywood;
}


.profile__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    margin: 1rem auto;
    background: #00203C;
    border-radius: 10px;
    padding: 2rem;
}
.reg__content_p{
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 1.15rem;
}
.reg__content_img{
    width: 10rem;
    height: 8rem;
    border-radius: 10px;
}
.profile__box p {
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 1.15rem;
}
.profile__box p span {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.25rem;
    color: #9EEFB3;
}
.card{
    align-items: flex-start;
    background-color: #041c2c;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 450px;
}
.registered__card{
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.reg__cardbody{
    /* width: 15rem;
    height: 15rem;
    border-color: #3f85ad;
    display: flex;
    padding: 2rem;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
    border-radius: 10px; */
    

    background-color: #001c3d;
    color: #fff;
    display: flex;
    padding: 0.5rem;
    border-radius: 10px;
    border-color: #0ff;
    cursor: pointer;
    font-size: .9rem;
    text-transform: capitalize;
}
.profile__pg_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
}
.bookings__done_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg__booked_content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}
.profile__cards_container {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.profile__pg_title{
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg,#fff,#40edf7);
    -webkit-background-clip: text;
}
@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}


@media screen and (max-width: 800px) {
    .profile__box {
        margin: 1rem;
        padding: 1rem;
    }
}
