.places__main_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.places__cards_container {
    display: flex;
    width: 100%;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.place__card {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    background: rgba(254, 245, 245, 0.09) 10px;
backdrop-filter: blur(39px);
border: 3px solid white;
/* Note: backdrop-filter has minimal browser support */


}

.place__card_pimg {
    height: 11rem;
    width: 80%;
    border-radius: 1rem;
}

.place__card_pname {
    color: white;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: system-ui;
}

.place__card_v_btn {
    background-color: rgba(254, 245, 245, 0.09);
    border: 1px solid #ffff;
    color: #ffff;
    /* width: 3rem; */
    display: flex;
    width: fit-content;
    height: 2rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    
}

.place__card_b_btn {
    color: #ffff;
    background: #006360;
    display: flex;
    width: fit-content;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    
    border: #006360;
}

.place__card__btns {
    width: 100%;
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}

.place__card__cbt {
    padding: 1.8rem;
    width: 50%;
    margin: 1rem;
    border: none;
    outline: none;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
    background: rgba(0, 99, 96, 1);
    transition: height 1s ease-in-out 0ms;
}

.place__card__cbt:hover {
    box-shadow: 0 10px 10px 0 rgba(209, 207, 207, 0.24),0 17px 50px 0 rgba(255, 253, 253, 0.19);
    height: 2rem;
}

.places__main__heading {
    color: rgb(255, 254, 253);
    font-size: 3rem;
    font-family: Antonio;
    font-weight: bold;
   
}

@media (min-device-width: 800px) and (max-device-width: 1200px) {
    .place__card {
        height: 19rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media (min-device-width: 650px) and (max-device-width: 800px) {
    .place__card {
        width: 40%;
        height: 18rem;
        padding: 2rem;
    }
    .places__cards_container {
        flex-wrap: wrap;
        padding: 1rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pname {
        font-size: 1rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media (min-device-width: 250px) and (max-device-width: 650px) {
    .place__card {
        width: 80%;
        height: 18rem;
        padding: 2rem;
    }
}

@media (min-device-width: 250px) and (max-device-width: 650px) {
    .place__card {
        width: 80%;
        height: 18rem;
        padding: 2rem;
    }
    .places__cards_container {
        flex-wrap: wrap;
        padding: 1rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pname {
        font-size: 1rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media screen and (max-device-width: 250px) {
    body {
        display: none;
    }
}