.guide_main{
    background:linear-gradient(104.98deg, #0C1E27 2%, #2A4E64  93.54%); 
    width:100%;
    height:100% ;
    min-height: 100vh;
}
.guide_img{
    
position: absolute;
width: 700px;
height: 1080px;
left: 0px;
top: 0px;

background-image: url(https://www.goingthewholehogg.com/wp-content/uploads/Travel-Photography-Gear-Header.jpg);
opacity: 0.4;

}
.g_heading{
    position: relative;
width: 342px;
height: 51px;
left: 830px;
top: 135px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 51px;
letter-spacing: 0.01em;
color: #FFFFFF;
}
.g_container{
  box-sizing: border-box;
  position: relative;
  width: 421px;
  height: 340px;
  margin: 12rem 52rem;
  border-radius: 0.5rem;
  background-image: repeating-linear-gradient(180deg, #ffffff, #ffffff 14px, transparent 14px, transparent 22px, #ffffff 22px), repeating-linear-gradient(270deg, #ffffff, #ffffff 14px, transparent 14px, transparent 22px, #ffffff 22px), repeating-linear-gradient(0deg, #ffffff, #ffffff 14px, transparent 14px, transparent 22px, #ffffff 22px), repeating-linear-gradient(90deg, #ffffff, #ffffff 14px, transparent 14px, transparent 22px, #ffffff 22px);
background-size: 1px calc(100% + 22px), calc(100% + 22px) 1px, 1px calc(100% + 22px) , calc(100% + 22px) 1px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
  padding: 20px 20px 20px 20px;


  }
 

.gu_input1{
  position: relative;  
width: 310px;
height: 30px;
margin: 2rem 2rem;
background: transparent;
border: 3px solid #494747;
border-radius: 4px;
}
.gu_input2{
    position: relative;  
  width: 310px;
  height: 30px;
  margin: 0rem 2rem;
  background: transparent;
  border: 3px solid #494747;
  border-radius: 4px;
  }
  .gu_input3{
    position: relative;  
  width: 140px;
  height: 30px;
 margin: 1rem 2rem;
  background: transparent;
  border: 3px solid #494747;
  border-radius: 4px;
  }
  .gu_input4{
    position: relative;  
  width: 140px;
  height: 30px;
 margin: 1rem 0rem;
  background: transparent;
  border: 3px solid #494747;
  border-radius: 4px;
  }  
  .gu_input6{
    position: relative;  
  width: 140px;
  height: 30px;
  margin: 1rem 0rem;
  background: transparent;
  border: 3px solid #494747;
  border-radius: 4px;
  } 
  .gu_input5{
    position: relative;  
  width: 140px;
  height: 30px;
  margin: 1rem 2rem;
  background: transparent;
  border: 3px solid #494747;
  border-radius: 4px;
  }
.g_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 40px;
position: relative;
width: 19.5rem;
height: 3rem;
margin: 0rem 2rem;
background: #006360;
border-radius: 6px;
border-color:#006360;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.01em;
color: #FFFFFF;
}  
.g_dot1{
    position: absolute;
width: 21px;
height: 21px;
left: 52px;
top: 20px;
border-radius: 1em;
border: 1px solid #FFFFFF;
}
.gl_dot1{
    position: absolute;
    width: 89px;
    height: 30px;
    left: 80px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.g_dot2{
    position: absolute;
width: 21px;
height: 21px;
left: 202px;
top: 20px;
border-radius: 1em;
border: 1px solid #FFFFFF;
}
.gl_dot2{
    position: absolute;
    width: 89px;
    height: 30px;
    left: 230px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
