.team__header {
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fff, #40edf7);
    -webkit-background-clip: text;
}