.page{
  
    width: 50%;
    height: 50%;
    background:linear-gradient(104.98deg, #3B5B6F,#2F4958);
    min-height: 100vh;
}
.page2{
    display: flex;
    width: 50%;
    height: 50%;
    background: linear-gradient(104.98deg,#1C3848,#102530); 
    min-height: 100vh;
}
.page1{
    scrollbar-width: none;
    color: aliceblue;
    text-size-adjust: 4xl;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact{
    position: relat;
width: 714px;
height: 122px;
left: 200px;
top: 39px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 133px;

color: #262525;
}

.contact_byline{
    position: relative;
width: 214px;
height: 20px;
left: 275px;
top: 161px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 20px;
color: #292828;
}
.getin{
position:relative;
width: 194px;
height: 38px;
left: 99px;
top: 325px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #242323;
}
.san{
    position:relative;
width: 226px;
height: 38px;
left: 99px;
top: 355px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
color: #271c1c;

}

.co_body{
position: relative;

}
.contact_input{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: none;
position: relative;
background: rgba(0,0,0,0,5)

}

.co_input4{
 position: relative;
width: 250px;
height: 30px;

border-radius: .5em;
padding: 12px 20px;
}
.co_input2{
    position:relative;
    width: 250px;
    height: 30px;
    
    border-radius: .5em;
}
.co_input3{
    position:relative;
    width: 250px;
    height: 30px;
  
    border-radius: .5em;
}
.co_input1{
    position:relative;
    width: 250px;
    height: 30px;
    
    border-radius: .5em;

}
.co_input5{
    position:relative;
    width: 510px;
    height: 120px;
    
    border-radius: .5em;
}
.submit_body{
    position: relative;
      
    
}
.submit_button{
    cursor: pointer;
    background-color: #0062CC;
    color: #ffff;
    border-radius: 1rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    box-shadow: 4px 4px 12px #05182D, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
    
}
.submit_button:hover{
    color: light blue;
    background-color: none;
}