.su__main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins;
    align-items: center;
    margin-bottom: 5rem;
}

.contact__content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.su__blank_space {
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background: #3B5B6F;
    /* background: rgba(217, 217, 217, 0.5);
    opacity: 0.2; */
}

.su__form_container {
    width: 80%;
    /* height: 90vh; */
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.ctct__pg_main_header {
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg,#fff,#40edf7);
    -webkit-background-clip: text;
}

.contact__main_title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 5rem;
    /* color: #262525; */
    color: #DDCBCB;
}

.contact_byline {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 15px;
    color: #292828;
}

.getin {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 32px;
    color: #242323;
}

.san {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 25px;
    color: #271c1c;
}


/* Right side */

.contact_heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #DDCBCB;
}

.contact_body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.co_input {
    height: 3rem;
    width: 48%;
    border: none;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.co_inputm {
    width: 97%;
    height: 5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.submit_button {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006360;
    color: #ffff;
    border-radius: 20px;
    border: none;
    width: 15rem;
    height: 3rem;
    box-shadow: 4px 4px 12px #05182d, inset 4px 4px 14px rgb(255 255 255 / 25%);
}

.submit_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:700px) {
    .contact_body>form {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        width: 80%;
    }
    .co_input {
        width: 98%;
    }
}

@media screen and (max-width: 600px) {
    .su__form_container {
        width: 100vw;
    }
    .su__blank_space {
        visibility: hidden;
    }
    .su__main {
        flex-direction: column;
        height: 90vh;
    }
    .submit_button {
        width: 10rem;
    }
}

@media (min-width: 200px) {
    .contact__main_title {
        font-size: 3rem;
    }
}

@media (min-device-width: 320px) and (max-width:600px) {
    .su__main {
        margin-top: 7rem;
    }
}

@media only screen and (device-width: 768px) {}