
.contact__main{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.page2{
    display: flex;
    width: 50%;
    height: 50%;
    background: linear-gradient(104.98deg,#1C3848,#102530); 
    min-height: 100vh;
}
.page1{
    scrollbar-width: none;
    color: aliceblue;
    text-size-adjust: 4xl;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact{
    /* position: absolute; */
width: 714px;
height: 122px;
left: 200px;
top: 39px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 133px;

color: #262525;
}

.contact_byline{
    /* position: absolute; */
width: 214px;
height: 20px;
left: 275px;
top: 161px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 20px;
color: #292828;
}
.getin{
/* position: absolute; */
width: 194px;
height: 38px;
left: 99px;
top: 325px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #242323;
}
.san{
    /* position: absolute; */
width: 226px;
height: 38px;
left: 99px;
top: 355px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
color: #271c1c;

}
.contact_body{
    /* position: absolute; */
left: 0%;
right: 1.83%;
top: 0%;
bottom: 26.32%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
color: #DDCBCB;
}
.co_body{
/* position: absolute; */
width: 560px;
height: 15px;
left: 860px;
top: 180px;
}
.contact_input{
/* position: absolute; */
width: 200px;
height: 396px;
left: 850px;
top: 230px;
border: none;
}

.co_input4{
 position: absolute;
width: 250px;
height: 30px;
left: 270px;
top: 50px;
border-radius: .5em;
padding: 12px 20px;
}
.co_input2{
    position:absolute;
    width: 250px;
    height: 30px;
    left: 10px;
    top:50px;
    border-radius: .5em;
}
.co_input3{
    position:absolute;
    width: 250px;
    height: 30px;
    left: 270px;
    top:0px;
    border-radius: .5em;
}
.co_input1{
    position:absolute;
    width: 250px;
    height: 30px;
    left: 10px;
    top:0px;
    border-radius: .5em;

}
.co_input5{
    position:absolute;
    width: 510px;
    height: 120px;
    left: 10px;
    top:100px;
    border-radius: .5em;
}
.submit_body{
    position: absolute;
    top: 475px;
    left: 1000px;  
    
}
.submit_button{
    background-color: #0062CC;
    color: #ffff;
    border-radius: 1rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    box-shadow: 4px 4px 12px #05182D, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
    
}
.submit_button:hover{
    color: light blue;
    background-color: none;
}