.su__main{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins;
    align-items: center;
    padding-top:2rem;
}


.contact__content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.su__blank_space{
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background: #3B5B6F;
    /* background: rgba(217, 217, 217, 0.5);
    opacity: 0.2; */
}
.su__form_container{
    width: 50vw;
    /* height: 90vh; */
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
}

.contact__main_title{
font-family: 'Playfair Display';
font-weight: 700;
font-size: 5rem;
/* color: #262525; */
color: #DDCBCB;
}
.contact_byline{
font-family: 'Playfair Display';
font-weight: 800;
font-size: 15px;
color: #292828;
}
.getin{
font-family: 'Work Sans';
font-weight: 700;
font-size: 32px;
color: #242323;
}
.san{
font-family: 'Work Sans';
font-weight: 400;
font-size: 25px;
color: #271c1c;
}
.contact_body{
    position: relative;
left: 0%;
right: 1.83%;
top: 0%;
bottom: 26.32%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
color: #DDCBCB;
}
.co_body{
position: relative;

.contact_body{
justify-content: center !important;
flex-direction: column;
border: none;
margin-left: 7rem;
}


.co_input{
justify-content: center !important;    
height: 3rem;
width:16rem;
border-radius: 10px;
  
}

.co_inputm{
    width: 510px;
    height: 120px;
    left: 10px;
    top:100px;
    border-radius: .5em;
   
}
.submit_body{
    position: relative;
    top: 475px;
    left: 1000px;  
    
}
.submit_button{
    background-color:#006360;
    color: #ffff;
    border-radius: 20px;
    
    border: none;
    width: 15rem;
    height: 3rem;
    box-shadow: 4px 4px 12px #05182D, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
    
}
.submit_button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
    .su__form_container{
        width: 100vw;
    }
    .su__blank_space{
        visibility: hidden;
    }
    .su__main{
        flex-direction: column-reverse;
        height: 90vh;
    }

}

@media screen and (max-width: 400px) {
    
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}