  .atrcations__cards_container{
    display: flex;
    width: 100%;
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .attractions__section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .attraction__card_body{
    display: flex;
   width: 320px;
    /* height: 240px; */
    background-color: #ffff;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    padding: 1rem;
  }
  
  .attraction__card_body img{
    width: 270px;
    height: 142px;
    border-radius: 20px;
  }
  .attract__card_btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }