.item_desc{
    align-items: center;
    padding: center;
    font-size: 1.5rem;
}
.item_head{
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.items__dialog_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}