.home_navbar{
    width: 100%;
    height: 15vh;
    position: absolute;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
