.su__main{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
}
.su__blank_space{
    width: 50vw;
    height: 90vh;
    background: #3B5B6F;
}
.su__form_container{
    width: 50vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C3747;
}
.su__and_continue{
    color: blue;
    font-size: 1.5rem;
}
.su__welcome_text{
    color: #ffff;
    font-size: 2.5rem;

}
.su__main_form{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.su__input_taker{
    height: 3rem;
    width:15rem;
    border-radius: 10px;
}
.su__submit_button{
    width: 15rem;
    height: 3rem;
    background: #006DD1;
    box-shadow: 4px 4px 12px #000000, inset 4px 4px 14px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    color: aliceblue;
}
.su__form_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
    .su__form_container{
        width: 100vw;
    }
    .su__blank_space{
        visibility: hidden;
    }
    .su__main{
        flex-direction: column-reverse;
        height: 90vh;
    }

}

@media screen and (max-width: 400px) {
    
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}